/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-primary: "Inter";

  --font-decorate: "PressStart2P";

  --font-weight-card-text: 400;

  --font-weight-card-title: 700;

  --text-stroke-color: #fff;

  --accent-color: #000;

  --text-color: white;

  --bg-color: black;

  --hover-color: black;

  --text-hover: white;

  --contour-color: #000;

  --animation-fill-color: #ff0000;

  --hover-fill-color: var(--contour-color);

  --stripes-color: rgba(211, 211, 211, 0.3); /* #d3d3d3 с прозрачностью 30% */
  --bg-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}
